.course-details {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-title-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    :global(.ant-skeleton) {
      width: auto;
    }

    .course-details-icon {
      .svg path {
        fill: currentColor;
      }
    }

    .course-name {
      margin: 0 25px;

      &:global(.ant-skeleton) {
        width: 400px;
      }
    }

    .edit {
      margin-left: auto;

      &:global(.ant-skeleton) {
        .edit {
          width: 120px;
        }
      }
    }

    .course-details-sub-title {
      margin-top: 10px;
      font-size: 14px;
      color: var(--neutral500);
      flex: 0 0 100%;
      font-family: var(--font-primary);
      font-weight: 400;

      &:global(.ant-skeleton) {
        .course-details-sub-title {
          width: 300px;
        }
      }
    }
  }
}

.course-outline-table {
  .course-table-toolbar {
    justify-content: flex-end;
    max-width: 250px;
    margin-left: auto;

    .export {
      margin-right: 20px;
    }
  }

  .course-table {
    :global(.ant-table-placeholder) {
      height: 500px;
    }
  }
}

.container-ref {
  position: absolute;
  top: 0;
}
