.analytics {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: stretch;
  height: 286px;
  margin-bottom: 38px;

  .graphs {
    flex: 1;
    align-self: stretch;

    &.left-graphs {
      flex: 2;
      height: 100%;
      margin-right: 20px;
    }

    &.left-graphs > * {
      height: 100%;
    }

    &.right-graphs {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &.right-graphs > * {
      flex: 1;
    }

    &.right-graphs > *:first-child {
      margin-bottom: 20px;
    }
  }
}
