.course-outline-list {
  position: relative;

  :global(.smooth-dnd-container) {
    height: 100%;
  }
}

.drop-preview {
  border: 1px dashed var(--primary);
  border-radius: 4px;
  margin: 8px;
  min-height: 16px;
  background-color: var(--hover-color);
}

.card-ghost {
  border: var(--wm-border);
  background-color: var(--white);
  box-shadow: var(--drag-shadow);
  cursor: grabbing;
}

.outline-task {
  border: var(--wm-border);
  background-color: var(--white);
  box-shadow: var(--wm-box-shadow);
  margin-bottom: 14px;
  border-radius: 4px;
}

.outline-lesson {
  margin-bottom: 14px;
}
