.course-outline-list {
  position: relative;

  &:not(.has-quiz) {
    height: 100%;

    :global(.smooth-dnd-container) {
      height: 100%;
    }
  }

  &.is-empty {
    :global(.smooth-dnd-drop-preview-constant-class) {
      height: 100% !important;
    }
  }
}

.drop-preview {
  border: 1px dashed var(--primary);
  border-radius: 4px;
  background-color: var(--hover-color-translucent);
}

.card-ghost {
  border: var(--wm-border);
  background-color: var(--white);
  box-shadow: var(--drag-shadow);
  cursor: grabbing;
}

.outline-task {
  border: var(--wm-border);
  background-color: var(--white);
  box-shadow: var(--wm-box-shadow);
  margin: 7px 0;
  border-radius: 4px;
}

.outline-lesson {
  margin: 7px 0;
}

.task-with-settings {
  cursor: pointer;
}

.remove-item-border {
  border-bottom: none;

  &:first-of-type {
    border-top: none;
  }
}
