.wm-card {
  box-shadow: var(--wm-box-shadow);
  border: var(--wm-border);
  border-radius: 2px;
  background-color: var(--white);

  :global(.ant-card-body) {
    padding: 18px 20px;
  }

  .card-subtitle {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 23px;
  }
}
