.users-screen {
  min-width: min-content;

  .users-title {
    display: flex;
    align-items: baseline;
  }

  .table-wrapper:global(.ant-card) {
    min-width: 1060px;

    .shown-users-indicator {
      font-family: var(--font-secondary);
      font-size: 15px;
      font-weight: 600;

      .search-result {
        font-size: 13px;
        font-weight: 400;
        font-style: italic;
        margin-left: 13px;
      }
    }

    .shown-users-skeleton {
      width: 180px;
    }

    .export-btn:global(.ant-btn) {
      margin-right: 20px;
    }

    .users-table {
      :global(.ant-empty) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30vh;
        margin: 0;
      }

      :global(.ant-table) {
        font-family: var(--font-primary);
        color: var(--neutral900);

        :global(.ant-table-body) {
          --screen-header-height: 85px;
          --screen-bottom-padding: 30px;
          --table-toolbar-height: 105px;
          --table-header-height: 53px;
          --table-footer-height: 43px;
          --table-padding: 40px;
          --table-body-height: calc(
            100vh - var(--header-toolbar-height) - var(--screen-header-height) -
              var(--screen-bottom-padding) - var(--table-toolbar-height) -
              var(--table-header-height) - var(--table-footer-height) - var(--table-padding)
          );

          // Needed in order to control table body height
          max-height: var(--table-body-height) !important;
        }

        // Hides `thead` scrollbar
        :global(.ant-table-cell-scrollbar) {
          box-shadow: none;
        }

        // Resets relevant 'antd' `table` columns width
        colgroup col:not(:first-child):not(:nth-child(2)):not(:last-child) {
          width: unset !important;
          min-width: 0 !important;
        }

        .started-cell,
        .result-cell {
          min-width: 13%;
          width: 13%;
        }

        .completed-cell,
        .duration-cell {
          min-width: 14.5%;
          width: 14.5%;
        }

        .attempts-cell {
          min-width: 15.5%;
          width: 15.5%;
        }

        .user-cell {
          font-weight: 600;
        }
      }
    }

    .load-more-wrapper {
      position: relative;
      color: var(--neutral900);
      font-family: var(--font-primary);
      margin-top: 20px;

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
