.table-wrapper:global(.ant-card) {
  min-width: min-content;
  min-height: 720px;

  .shown-users-indicator {
    font-family: var(--font-secondary);
    font-size: 15px;
    font-weight: 600;

    .search-result {
      font-size: 13px;
      font-weight: 400;
      font-style: italic;
      margin-left: 13px;
    }
  }

  .shown-users-skeleton {
    width: 180px;
  }

  .export-btn:global(.ant-btn) {
    margin-right: 20px;
  }

  .users-table {
    :global(.ant-empty) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 550px;
      margin: 0;
    }

    :global(.ant-table) {
      font-family: var(--font-primary);
      color: var(--neutral900);

      .user-cell {
        width: 150px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .started-cell {
        min-width: 86px;
      }

      .completed-cell,
      .duration-cell,
      .attempts-cell {
        min-width: 120px;
      }

      .result-cell {
        min-width: 105px;
      }

      .result-cell,
      .attempts-cell {
        text-align: right;
      }
    }
  }

  .load-more-wrapper {
    position: relative;
    color: var(--neutral900);
    font-family: var(--font-primary);
    margin-top: 20px;

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
