.users-sub-bar {
  width: 100%;
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .users-filter {
    display: flex;

    > * {
      margin-right: 20px;
    }
  }

  .users-search{
    display: flex;
  }
}
