.wm-collapse {
  border: var(--wm-border);
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: var(--wm-box-shadow);
  margin-bottom: 2px;

  .collapse-header {
    display: flex;
    justify-content: flex-start;
    height: 37px;
    overflow: hidden;

    &:not(.has-drag-handle) {
      padding-left: 10px; // align the arrow with lesson's collapsible arrow
    }

    &:hover {
      background-color: var(--hover-color);
    }

    &.has-drag-handle {
      .collapse-button {
        margin-right: 10px;
        margin-left: 3px;
        width: 19px;
      }

      &:hover {
        .collapse-drag-handle {
          visibility: visible;
        }
      }
    }
  }

  .collapse-drag-handle {
    visibility: hidden;
  }

  .collapse-button {
    width: 49px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: var(--neutral500);

    svg {
      transform: rotate(-90deg);
      transition: all 250ms ease-in-out;
      width: 9px;
      height: 5px;
    }

    &.is-open svg {
      transform: rotate(0deg);
    }
  }

  .collapse-content {
    border-top: var(--wm-border);
    overflow: hidden;
  }
}
