.wm-radio-button {
  &:global(.ant-radio-wrapper) {
    display: flex;
    height: 30px;
    line-height: 30px;
    align-items: center;
  }

  :global(.ant-radio):hover,
  :global(.ant-radio-wrapper):hover :global(.ant-radio),
  :global(.ant-radio-input):focus + :global(.ant-radio-inner),
  :global(.ant-radio):hover :global(.ant-radio-inner),
  :global(.ant-radio-checked) :global(.ant-radio-inner),
  :global(.ant-radio-checked) :global(.ant-radio-inner):hover {
    border-color: var(--primary);
  }

  :global(.ant-radio-checked) :global(.ant-radio-inner)::after {
    background-color: var(--primary);
  }

  :global(.ant-radio-checked)::after {
    border-color: var(--primary);
  }

  :global(.ant-radio-input):focus + :global(.ant-radio-inner) {
    box-shadow: 0 0 0 3px var(--primaryVeryTransparent);
  }
}

.wm-radio-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.help-text {
  opacity: 0.7;
  color: var(--neutral900);
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 18px;
  margin: 5px auto 5px 23px;
}

.option-help-icon {
  margin-left: 5px;

  &:global(.anticon) {
    color: var(--neutral400);
  }

  &:hover {
    color: var(--primary);
  }
}
