.course-settings-tab {
  padding: 0 20px 15px;

  .course-settings-form-group {
    margin-bottom: 30px;

    &.segmentation {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 500px;

      label {
        margin-top: 10px;
      }

      .segmentation-selection {
        margin: 10px 0;
      }
    }
  }

  .learning-path {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .switch-field {
    // display: block;
    margin: 10px 0 0;

    &.space-bottom {
      margin-bottom: 10px;
    }
  }
}
