.task-item {
  border-bottom: var(--wm-border);

  &:first-of-type {
    border-top: var(--wm-border);
  }

  .item {
    display: flex;
    align-items: center;
    height: 35px;
    color: var(--neutral800);
    padding: 0 20px 0 0;

    .icon {
      color: var(--secondary500);
      margin-right: 11px;
    }

    .title {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    .delete-button {
      display: none;
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--hover-color);

    .delete-button {
      display: inline-block;
    }

    .task-item-drag-handle {
      visibility: visible;
    }
  }

  .task-item-drag-handle {
    visibility: hidden;
    margin-right: 8px;
  }
}
