.task-item {
  border-bottom: var(--wm-border);

  &.active-item .item {
    background-color: var(--hover-color);
  }

  &:first-of-type {
    border-top: var(--wm-border);
  }

  .item {
    display: flex;
    align-items: center;
    height: 35px;
    color: var(--neutral800);
    padding: 0 20px 0 0;

    .icon {
      color: var(--secondary500);
      margin-right: 11px;
    }

    .title {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    .delete-button {
      display: inline-block;
      opacity: 0;
    }

    &:hover {
      background-color: var(--hover-color);
    }
  }

  &[disabled] {
    pointer-events: none;

    .item {
      opacity: 0.3;
    }
  }

  &:hover {
    .delete-button {
      opacity: 1;

      :global(.wm-icon) {
        pointer-events: none;
      }
    }

    .task-item-drag-handle {
      visibility: visible;
    }
  }

  .task-item-drag-handle {
    visibility: hidden;
    margin-right: 8px;
  }
}
