.wm-tabs {
  &:global(.ant-tabs) {
    color: var(--primary);
  }

  :global(.ant-tabs-ink-bar) {
    background: var(--primary);
  }

  :global(.ant-tabs-tab) {
    :global(.wm-icon) {
      margin-right: 20px;

      > svg path {
        fill: var(--primary);
      }
    }
  }

  .test {
    font-size: 90px;
  }
}
