.course-items-list {
  flex-grow: 1;
  margin: 0;

  .item-wrapper {
    border-bottom: var(--wm-border);
    &:first-of-type {
      border-top: var(--wm-border);
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .item {
    display: flex;
    align-items: center;
    height: 35px;
    color: var(--neutral800);
    padding: 0 20px;
    cursor: grab;

    .icon {
      color: var(--secondary500);
      margin-right: 11px;
    }

    .item-title {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card-ghost {
  border: 1px solid #e6edf1;
  background-color: var(--white);
  box-shadow: 3px 3px 7px 0 #dfdfdf;
  cursor: grabbing;
}
