.text-counter-input {
  display: flex;
  flex-direction: column;

  .input-label {
    color: var(--neutral900);
    font-family: var(--font-primary), sans-serif;
    font-size: 14px;
    line-height: 16px;
  }

  .input-counter {
    color: var(--neutral500);
    font-family: var(--font-primary), sans-serif;
    height: 11px;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    text-align: right;
    align-self: flex-end;
    margin-top: 5px;
  }
}
