.text-counter {
  display: grid;
  width: 300px;

  .input-label {
    color: var(--neutral900);
    font-family: var(--font-primary), sans-serif;
    height: 15px;
    width: 131.69px;
    font-size: 14px;
    line-height: 16px;
  }

  .input-text {
    border: 1px solid var(--border-light);
    background-color: var(--white);
    font-family: var(--font-primary), sans-serif;
    color: var(--neutral900);
    box-sizing: border-box;
    width: 300px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .input-counter {
    color: var(--neutral500);
    font-family: var(--font-primary), sans-serif;
    height: 11px;
    width: 68px;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    text-align: right;
    justify-self: right;
  }
}
