.filters-toolbar {
  width: 100%;

  .filter-wrapper {
    flex-wrap: nowrap;
    margin-right: 40px;

    label {
      color: var(--neutral900);
      font-family: var(--font-primary);
      white-space: nowrap;
      margin-right: 10px;
    }

    .select-filter {
      width: 145px;

      &.multi {
        width: 180px;

        :global(.ant-select-selector) {
          max-height: 62px;
          padding-right: 30px;
          overflow: auto;
        }
      }
    }
  }
}

.course-name-select :global(.ant-select-item-empty) > div {
  transform: scale(0.5);
  min-height: unset;
}
