.screen {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px 30px;
  background-color: var(--secondary100);
  margin-top: var(--headerToolbarHeight);
  height: calc(100vh - var(--headerToolbarHeight));
  width: 100%;
  overflow: auto;
}
