.icon {
  --iconDefaultSize: 20px;
  color: var(--neutral800);
  width: var(--iconDefaultSize);
  height: var(--iconDefaultSize);
  display: flex;

  // TODO: After receiving the icons, remove the background color property and add styles to svg
  &:empty {
    background-color: var(--neutral800);
    transition: background-color 0.3s;
  }

  svg * {
    transition: stroke 0.3s, fill 0.3s;
  }
}
