.icon {
  --iconDefaultSize: 20px;

  color: inherit;
  width: auto;
  height: auto;
  display: flex;

  // TODO: After receiving the icons, remove the background color property and add styles to svg
  &:empty {
    background-color: inherit;
    transition: background-color 0.3s;
  }

  svg * {
    transition: stroke 0.3s, fill 0.3s;
  }
}
