.wm-popover {
  &:global(.ant-popover):global(.ant-popover-placement-top) {
    padding-bottom: 0;
  }

  &:global(.ant-popover-placement-top) {
    :global(.ant-popover-content) {
      transform: translateY(8px);
    }
  }

  &:global(.ant-popover-placement-topRight),
  &:global(.ant-popover-placement-topLeft) {
    :global(.ant-popover-content) {
      transform: translateY(18px);
    }
  }

  &:global(.ant-popover-placement-bottom),
  &:global(.ant-popover-placement-bottomRight),
  &:global(.ant-popover-placement-bottomLeft) {
    :global(.ant-popover-content) {
      transform: translateY(-18px);
    }
  }

  :global(.ant-popover-content) {
    color: var(--neutral900);
    font-family: var(--font-primary);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;

    :global(.ant-popover-arrow) {
      display: none;
    }

    :global(.ant-popover-inner) {
      box-shadow: none;
    }

    :global(.ant-popover-inner-content) {
      border: 1px solid var(--borderLightGray);
      border-radius: 2px;
      padding: 10px;
    }
  }
}
