// temporary solution to override antd component styles
// TODO: create a wrapper for antd's component and use 'wm-' prefix

.wm-dropdown-menu {
  top: 10px;

  li {
    position: relative;

    &.selected-item {
      color: var(--primary);
    }
  }

  &.user-menu {
    li:first-child:after {
      @include horizontalSeparator;
      position: absolute;
      bottom: 0;
      right: 5px;
      left: 5px;
      width: calc(100% - 10px);
    }
  }
}

// override antd button - .ant-btn
.wm-btn {
  line-height: 1;
  color: var(--neutral900);
  transition: color 0.3s;
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: center;

  &.ant-btn-link {
    padding: 0;
    font-family: var(--font-primary);
    font-weight: 500;

    &.ant-dropdown-open {
      color: var(--primary);
    }
  }

  &.ant-btn-icon-only {
    width: auto;
    height: auto;
    padding: 0;

    > * {
      font-size: 0;
    }

    &.ant-dropdown-open {
      .icon.header-avatar {
        box-shadow: 0 0 5px 2px var(--avatarShadowColor);
      }
    }
  }
}
