@mixin horizontalSeparator {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--divider-color);
}

@mixin default-wm-icon-in-row {
  display: flex;
  justify-content: flex-start;

  &-icon {
    :global(.wm-icon) {
      margin-right: 15px;
      color: var(--icon-bg);
      width: 17px;
    }
  }
}

@mixin ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin dialog-delete-button {
  &:global(.ant-btn) {
    background-color: var(--delete);
    border-color: var(--delete);

    &:hover {
      background-color: var(--red);
      border-color: var(--red);
    }

    &:focus {
      background-color: var(--dark-red);
      border-color: var(--dark-red);
    }
  }
}
