:root {
  --desktop-min-width: 1280px;
  --sidebar-width: 110px;
  --header-toolbar-height: 60px;
  --divider-color: #f0f0f0;
  --wm-border: 1px solid #e6edf1;
  --wm-box-shadow: 0 2px 0 0 #f2f2f2;
  --drag-shadow: 3px 3px 7px 0 #dfdfdf;

  // background color of the app
  --white: #fff;
  --wm-background-color: var(--secondary100);
  --selected: #d0e8ff;

  // should match logo color, used for hovered and active icons, progress bar,
  // active tab, active tab underline, when search input is focused
  --primary: #348bd8;
  --primaryHover: #0af;
  --primaryLightnened: #54a5ed;
  --primaryDarkened: #2571b5;
  --primaryVeryTransparent: rgba(52, 139, 216, 0.08);
  // used as category background when hovered and unfilled progress bar background
  --primary100: #f4fafd;

  // used for back button
  --primary300: #9dd8f5;
  --icon-bg: #adc4d2;

  // used for active item in sidebar
  --secondary: #435aa6;
  --secondaryLightnened: #4e67b9;
  --secondaryDarkened: #364b8e;
  --secondaryShadowColor: rgba(43, 62, 127, 0.37);
  --avatarShadowColor: #d0e9ff;

  // used in unfocused icons, screen headlines, search input text
  --secondary500: #aac4d1;

  // used as course editor items background
  --secondary200: #fafafa;

  // background of search input and tabs panel
  --secondary100: #f9fbfc;

  // used in titles, main text content
  --neutral900: #424242;

  // use in sidebar navigation items
  --neutral800: #0a2333;
  --neutral700: #78868f;

  // used in dialogs
  --neutral600: #616775;

  // regular text color, item descriptions, crossed off tasks
  --neutral500: #8d8d8d;
  --neutral400: #979797;
  --neutral300: #97adb8;
  --neutral200: #b3b3b3;
  --neutral150: #d9d9d9;
  --neutral100: #e1e9ee;
  --empty-text: rgba(0, 0, 0, 0.5);

  // used for borders that separate categories from other items
  --border100: rgba(170, 196, 209, 0.2);
  --border-light: #cdced1;
  // used for dropdown
  --borderLightGray: #e1e6e9;

  // colors for warnings, tags, etc.
  --red: #fc4040;
  --delete: #ed1010;
  --dark-red: #d40e0e;
  --green: #41c378;
  --greenVeryTransparent: rgba(65, 195, 120, 0.08);
  --orange: #e9a11c;
  --gray: #a7b3ba;
  // light versions of above colors
  --green-light: #ecfdf3;
  --orange-light: #fff3dc;
  --gray-light: #f5f5f5;

  // component colors
  --hover-color: #f7fbff;
  --hover-color-translucent: rgba(52, 139, 216, 0.05);
  --pie-bar-char-background-color: #dfe1e2;

  // table
  --table-header-color: var(--neutral700);
  --table-border-color: #dcdcdc;
  --table-row-hover-color: var(--hover-color);

  // fonts
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  // switch
  --switch-off: #9ba1b0;

  // multiselect tag
  --multiselect-tag-bg-color: #f3f3f3;
  --multiselect-tag-border: solid 1px #ececec;

  //disabled
  --disable-dot: #aabed2;
  --disable-chart: #c1c1c1;

  //impersonate
  --impersonate-text: #415fc7;
  --impersonate-background: #eaefff;
}
