:root {
  --sidebarWidth: 110px;
  --headerToolbarHeight: 60px;
  --divider-color: #f0f0f0;
  --wm-border: 1px solid #e6edf1;
  --wm-box-shadow: var(--wm-box-shadow);

  // background color of the app
  --white: #fff;
  --background: #fff;

  // should match logo color, used for hovered and active icons, progress bar,
  // active tab, active tab underline, when search input is focused
  --primary: #348bd8;
  --primaryHover: #0af;
  --primaryLightnened: #54a5ed;
  --primaryDarkened: #2571b5;
  --primaryVeryTransparent: rgba(52, 139, 216, 0.08);

  // used as category background when hovered and unfilled progress bar background
  --primary100: #f4fafd;

  // used for back button
  --primary300: #9dd8f5;

  // used for active item in sidebar
  --secondary: #435aa6;
  --secondaryLightnened: #4e67b9;
  --secondaryDarkened: #364b8e;
  --secondaryShadowColor: rgba(43, 62, 127, 0.37);

  // used in unfocused icons, screen headlines, search input text
  --secondary500: #aac4d1;

  // background of search input and tabs panel
  --secondary100: #f9fbfc;

  // used in titles, main text content
  --neutral900: #424242;

  // use in sidebar navigation items
  --neutral800: #0a2333;
  --neutral700: #78868f;

  // regular text color, item descriptions, crossed off tasks
  --neutral500: #8d8d8d;
  --neutral300: #97adb8;
  --neutral200: #b3b3b3;
  --neutral100: #e1e9ee;

  // used for borders that separate categories from other items
  --border100: rgba(170, 196, 209, 0.2);
  --border-light: #cdced1;
  // used for dropdown
  --borderLightGray: #e1e6e9;

  // colors for warnings, tags, etc.
  --red: #fc4040;
  --green: #41c378;
  --orange: #e9a11c;
  --gray: #a7b3ba;
  // light versions of above colors
  --green-light: #ecfdf3;
  --orange-light: #fff3dc;
  --gray-light: #f5f5f5;

  // component colors
  --pie-bar-char-background-color: #dfe1e2;
  // table
  --table-header-color: #78868f;
  --table-border-color: #dcdcdc;
  --table-row-hover-color: #f7fbff;

  // fonts
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  // switch
  --switch-off: #9ba1b0;
}
