.drop-preview {
  border: 1px dashed var(--primary);
  border-radius: 4px;
  margin: 8px;
  min-height: 16px;
  background-color: #f7fbff;
}

.dnd {
  padding: 8px 0;
}

.card-ghost {
  border: 1px solid #e6edf1;
  background-color: var(--white);
  box-shadow: 3px 3px 7px 0 #dfdfdf;
  cursor: grabbing;
}

.card-ghost-drop {
}

.outline-task {
  border: 1px solid #e6edf1;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 #f2f2f2;
  margin-bottom: 14px;
  border-radius: 4px;
}

.outline-lesson {
  margin-bottom: 14px;
}
