.drop-preview {
  border: 1px dashed var(--primary);
  border-radius: 4px;
  margin: 8px;
  min-height: 16px;
  background-color: #f7fbff;
}

.dnd {
  width: calc(100% - 16px);
  height: calc(100% - 36px);
  border: 1px dashed var(--primary);
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
}

.card-ghost {
}

.card-ghost-drop {
}
