@import '../../../../styles/globals.scss';

.top {
  padding: 15px;
  padding-bottom: 0;
  color: var(--primary);

  &:after {
    @include horizontalSeparator();
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    span {
      @include fSecondaryMedium;
      font-size: 10px;
      letter-spacing: 0.4px;
      margin-right: 2px;
    }

    svg {
      height: 28px;
      width: 100%;
    }
  }
}
