.top {
  padding: 15px;
  padding-bottom: 0;
  color: var(--primary);

  .top-separator {
    margin: 15px 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    span {
      font-family: var(--font-secondary), sans-serif;
      font-weight: 500;
      font-size: 10px;
      letter-spacing: 0.4px;
      margin-right: 2px;
    }

    svg {
      height: 28px;
      width: 100%;
    }
  }
}
