.app {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--background);
  max-width: 100%;
  margin: 0 auto;
  opacity: 1;

  // sidebar slot
  padding-left: var(--sidebarWidth);

  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.2);
  transition-timing-function: cubic-bezier(0.68, -0.2, 0.265, 1.2);
}

.content {
  padding-top: var(--headerToolbarHeight);
  height: 100vh;
  width: 100%;
}
