.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: var(--header-toolbar-height);
  padding-left: var(--sidebar-width);
  background-color: var(--wm-background-color);
  transition: all 500ms cubic-bezier(0.68, -0.2, 0.265, 1.2);
  overflow: auto;
}
