.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--wm-background-color);
  box-shadow: 4px 0 4px 0 rgba(204, 214, 215, 0.22);
  z-index: 1;

  .sidebar-separator:global(.ant-divider) {
    margin: 17px 19px 15px 19px;
    width: calc(100% - 38px);
    min-width: calc(100% - 38px);
  }
}
