.purple-switch {
  :global(.ant-switch-handle) {
    &::before {
      background-color: rebeccapurple;
    }
  }
}

.cards-wrapper {
  flex-grow: 1;
  display: flex;
  font-family: var(--font-primary);
  color: var(--neutral900);
  height: calc(
    100vh - var(--header-toolbar-height) - var(--build-page-header-height) -
      var(--distance-from-bottom-of-screen)
  );

  .resources-list-playground {
    min-width: 448px;

    // copied styles from course-editor-screen/style.module.scss
    color: inherit;

    :global(.ant-card-body) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0;

      // additional styles
      :global(header) {
        display: flex;

        .resources-action-menu {
          margin-left: auto;
        }
      }
    }

    .search {
      width: 100%;

      ::placeholder {
        font-weight: 400;
      }
    }
  }

  .outline-demo {
    min-width: 700px;
    padding: 0 20px;
  }

  .buttons {
    width: 500px;
  }

  .buttons.grow,
  .outline-demo {
    flex-grow: 1;
  }
}
