.purple-switch {
  :global(.ant-switch-handle) {
    &::before {
      background: rebeccapurple;
    }
  }
}

.cards-wrapper {
  display: flex;
  font-family: var(--font-primary);
  color: var(--neutral900);

  .quiz-settings-buttons {
    flex-grow: 1;
  }
}
