.wm-textarea {
  &:global(.ant-input) {
    height: 32px;
    border: 1px solid var(--border-light);
    border-radius: 2px;
    background-color: var(--white);
    font-family: var(--font-primary);

    &.no-resize {
      resize: none;
    }

    &:hover,
    &:focus {
      border-color: var(--border-light);
      box-shadow: none;
    }
  }
}
