:root {
  --screen-max-width: 1196px; // outline with should be 846px + resource width 350px
  --build-page-header-height: 132px;
  --distance-from-bottom-of-screen: 30px;
}

.course-editor-screen {
  width: 100%;
  max-width: var(--screen-max-width);
  margin: 0 auto;
}

.cards-wrapper {
  flex-grow: 1;
  display: flex;
  font-family: var(--font-primary);
  color: var(--neutral900);
  height: calc(
    100vh - var(--header-toolbar-height) - var(--build-page-header-height) -
      var(--distance-from-bottom-of-screen)
  );

  .resources-list,
  .course-structure,
  .details-panel {
    color: inherit;

    :global(.ant-card-body) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0;
    }

    .search {
      width: 100%;

      ::placeholder {
        font-weight: 400;
      }
    }
  }

  .resources-list,
  .details-panel {
    .title-container {
      display: flex;
      justify-content: space-between;
      font-family: var(--font-secondary);
      font-size: 14px;
      white-space: nowrap;
      height: 60px;
      padding: 20px;
    }
  }

  .resources-list {
    --resources-list-width: 340px;

    overflow-y: hidden;
    position: relative;
    min-width: var(--resources-list-width);
    width: var(--resources-list-width);
    margin-right: 10px;
    background-color: var(--secondary200);

    .title-container {
      border-bottom: var(--wm-border);
      justify-content: flex-end;
      align-items: center;

      .title {
        margin-right: auto;
      }
    }

    .filters-bar {
      padding: 0 20px 13px;
    }

    .resource-item-list {
      --items-list-height: 60px;
      --search-filter-height: 58px;

      height: calc(100% - var(--items-list-height) - var(--search-filter-height));
      overflow: auto;
    }

    .resources-action-menu {
      margin-left: 10px;
    }

    .new-resource-panel {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      min-width: var(--resources-list-width);
      width: var(--resources-list-width);
      border-width: 0;
    }
  }

  .resources-list-skeleton {
    padding: 0 20px;
  }

  .course-structure {
    flex-grow: 1;

    .tabs {
      height: inherit;
      color: inherit;

      > :global(.ant-tabs-nav) {
        font-family: var(--font-secondary);
        margin: 0 20px 15px 0;

        :global(button.ant-tabs-tab) {
          justify-content: center;
          font-family: inherit;
          color: inherit;
          padding: 20px;
          margin: 0;

          &:first-of-type {
            width: 145px;
          }

          &:last-of-type {
            width: 99px;
          }

          &:global(.ant-tabs-tab-active) {
            font-weight: 600;
            color: var(--primary);
          }
        }
      }

      :global(.ant-tabs-content) {
        height: 100%;

        :global(.ant-tabs-tabpane) {
          display: flex;
          flex-direction: column;
        }
      }

      :global(.ant-tabs-content-holder) {
        --tabs-height: 60px;

        height: calc(100% - var(--tabs-height));
        overflow: auto;
      }
    }

    .add-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .details-panel {
    min-width: 0;
    width: 0;
    border-width: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &.open {
      min-width: 340px;
      width: 340px;
      border-width: 1px;
    }
  }
}

.option {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--neutral900);
  height: 30px;

  :global(.wm-icon) {
    margin-right: 10px;
    color: var(--neutral400);
  }
}

.header-confirmation-buttons {
  display: flex;
  width: 40%;
  justify-content: flex-end;

  .cancel-button {
    margin-right: 20px;
  }

  .error-message {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--red);

    :global(.wm-icon) {
      margin-right: 10px;
    }
  }
}

.course-outline-tab {
  --bottom-padding: 15px;
  --sides-padding: 20px;

  padding: 0 var(--sides-padding) var(--bottom-padding);
  height: 100%;

  .course-outline-empty-state {
    position: absolute;
    height: calc(100% - var(--tabs-height) - var(--bottom-padding));
    width: calc(100% - var(--sides-padding) * 2);
    z-index: 1;
    pointer-events: none;

    :global(.ant-btn) {
      pointer-events: auto;
    }
  }
}

body.prevent-interaction {
  pointer-events: none;
}

html.prevent-interaction {
  cursor: not-allowed;
}
