.cards-wrapper {
  --cards-border: solid 1px #e6edf1;

  display: flex;
  color: var(--neutral900);

  .items,
  .course-structure {
    height: 560px;
    color: inherit;

    :global(.ant-card-body) {
      padding: 0;
    }
  }

  .items {
    width: 340px;
    margin-right: 10px;
    background-color: #fafafa;

    .title {
      display: flex;
      justify-content: space-between;
      font-family: var(--font-secondary), sans-serif;
      font-size: 14px;
      height: 60px;
      padding: 20px;
      border-bottom: var(--cards-border);
    }

    .filters-bar {
      padding: 0 20px 13px;

      .search {
        width: 100%;
      }
    }

    .item-list {
      margin: 0 20px 0 0;
      overflow: auto;

      .item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 9px 20px;
        border-top: var(--cards-border);

        &:last-of-type {
          border-bottom: var(--cards-border);
        }
      }
    }
  }

  .course-structure {
    flex-grow: 1;

    .tabs {
      font-family: var(--font-secondary), sans-serif;
      color: inherit;

      > :global(.ant-tabs-nav) {
        margin: 0 20px 15px 0;

        :global(button.ant-tabs-tab) {
          justify-content: center;
          font-family: inherit;
          color: inherit;
          padding: 20px;
          margin: 0;

          &:first-of-type {
            width: 145px;
          }

          &:last-of-type {
            width: 99px;
          }

          &:global(.ant-tabs-tab-active) {
            font-weight: 600;
            color: var(--primary);
          }
        }
      }
    }
  }
}
