:global(.ant-message) {
  :global(.ant-message-notice) {
    display: flex;
    justify-content: center;

    :global(.ant-message-notice-content) {
      display: flex;
      align-items: center;
      height: 38px;
      padding: 0 16px;
      border-radius: 8px;
      box-shadow: 0 0 7px 2px rgba(204, 214, 215, 0.41);

      :global(.ant-message-custom-content) {
        color: var(--neutral900);
        font-family: var(--font-primary);
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 16px;

        :global(.anticon),
        .icon {
          margin-right: 16px;
        }

        .icon {
          display: inline-block;
          color: var(--green-check-icon);
        }
      }
    }
  }
}
