.wm-dropdown-menu {
  :global(.ant-dropdown-menu-item) {
    position: relative;

    &:global(.ant-dropdown-menu-item-disabled) {
      opacity: 0.3;
    }
  }

  .selected-item {
    color: var(--primary);
  }
}
