.number-cell {
  font-variant-numeric: tabular-nums;
}

a.link-cell {
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;

  &:visited {
    color: var(--primary);
  }

  &:hover {
    color: var(--primary);
  }
}

.text-cell {
  overflow: auto;
  white-space: nowrap;

  &.has-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.subtext-cell {
  .text {
    font-weight: 500;
  }

  .subtext {
    color: var(--neutral500);
    font-size: 12px;
    line-height: 16px;
  }
}

.status-dot-cell {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .table-cell-dot {
    margin-right: 4px;
  }
}

.bold {
  font-weight: 500;
}

.icon-text-cell {
  display: flex;

  :global(.text) {
    font-weight: 500;
    color: var(--neutral900);
  }

  :global(.wm-icon) {
    margin-right: 15px;
    color: var(--neutral700);
    display: flex;
    align-items: center;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.drag-handle {
  cursor: grab;
}
