span.search-filter {
  width: 186px;
  height: 32px;
  padding: 0 15px;
  border-color: var(--border-light);
  box-shadow: none;

  &:hover {
    border-color: var(--border-light);
  }

    ::placeholder {
      font-size: 12px;
      font-weight: 600;
    }
  }

  :global(.ant-skeleton.ant-skeleton-active .ant-skeleton-input) {
    margin: 0 10px;
  }
}
