span.search-filter {
  width: 186px;
  height: 32px;
  padding: 0 15px;
  border-color: var(--border-light);
  box-shadow: none;

  &:hover {
    border-color: var(--border-light);
  }

  > span {
    font-size: 16px;
    margin-right: 8px;
    opacity: 0.5;
  }

  ::placeholder {
    font-size: 12px;
    font-weight: 600;
  }
}
