span.search-filter {
  width: 186px;
  height: 32px;
  padding: 0 15px;
  border-color: var(--border-light);
  box-shadow: none;

  &:hover {
    border-color: var(--border-light);
  }

  :global(.ant-input) {
    font-family: var(--font-primary);
    font-size: 12px;
    color: var(--neutral900);
  }

  ::placeholder {
    font-size: 12px;
    font-weight: 600;
  }
}

.skeleton:global(.ant-skeleton .ant-skeleton-input) {
  width: 186px;
}
