@import 'src/styles/mixins';

.header-toolbar {
  --spacing: 28px;
  --avatarShadowColor: rgba(121, 191, 253, 0.75);

  position: fixed;
  top: 0;
  right: 0;
  left: var(--sidebar-width);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-toolbar-height);
  padding: 0 var(--spacing);
  background-color: var(--secondary100);
  border-bottom: solid 1px var(--divider-color);
  z-index: 1;

  > button {
    margin-left: var(--spacing);
  }

  .separator {
    margin: 0 var(--spacing);
    height: 33px;
  }

  .help-btn {
    font-size: 24px;
  }

  .user-btn {
    font-size: 28px;

    &:global(.ant-dropdown-open) {
      box-shadow: 0 0 5px 2px var(--avatarShadowColor);
      border-radius: 5px;
    }
  }

  .header-toolbar-skeleton {
    display: flex;
    flex-direction: row;

    > * {
      margin-left: var(--spacing);
    }
  }
}

.header-toolbar-menu {
  top: 18px;

  &.user-menu {
    top: 12px;
    right: -8px;

    > * {
      position: relative;
      padding: 8px 16px;

      &:first-of-type::after {
        @include horizontalSeparator;

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.dropdown-menu-button:global(.ant-btn) {
  font-weight: 500;
}

.impersonate {
  position: fixed;
  top: 0;
  right: 45%;
  z-index: 3;
  width: 91px;
  height: 23px;
  padding: 5px 8px;
  color: var(--impersonate-text);
  font-family: var(--primary);
  background-color: var(--impersonate-background);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 11px;
  border-radius: 4px;
  text-transform: uppercase;
}
