@import 'src/styles/mixins';

.header-toolbar {
  --spacing: 28px;

  position: fixed;
  top: 0;
  right: 0;
  left: var(--sidebar-width);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-toolbar-height);
  padding: 0 var(--spacing);
  background-color: var(--secondary100);
  border-bottom: solid 1px var(--divider-color);
  z-index: 1;

  > button {
    margin-left: var(--spacing);
  }

  .separator {
    margin: 0 var(--spacing);
    height: 33px;
  }

  .help-btn {
    font-size: 24px;
  }

  .user-btn {
    font-size: 34px;

    &:global(.ant-dropdown-open) {
      box-shadow: 0 0 1px 3px var(--avatarShadowColor);
      border-radius: 50%;
    }
  }

  .header-toolbar-skeleton {
    display: flex;
    flex-direction: row;

    > * {
      margin-left: var(--spacing);
    }
  }
}

.header-toolbar-menu {
  top: 18px;

  &.user-menu {
    top: 12px;
    right: -8px;

    > * {
      position: relative;
      padding: 8px 16px;

      &:first-of-type::after {
        @include horizontalSeparator;

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.dropdown-menu-button:global(.ant-btn) {
  font-weight: 500;
}
