@import '../../../styles/globals.scss';

.header-toolbar {
  --spacing: 25px;
  --avatarShadowColor: rgba(121, 191, 253, 0.75);

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--spacing);
  top: 0;
  right: 0;
  left: var(--sidebarWidth);
  min-height: var(--headerToolbarHeight);
  background-color: #f9fbfc;

  .header-toolbar-separator {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .header-toolbar-left {
    display: flex;
    align-items: center;
    margin-left: auto;

    .setting-separator {
      margin: 0 var(--spacing);
      height: 2em;
    }

    .icon.header-avatar {
      border-radius: 5px;
      box-shadow: 0 0 0 0 var(--avatarShadowColor);
      transition: box-shadow 0.3s;
    }

    > * {
      margin-left: var(--spacing);

      &:first-child,
      &.help {
        margin-left: 0;
      }

      &.help {
        width: auto;
        height: auto;
        line-height: 0;
        padding: 0;
      }
    }
  }
}

.header-toolbar-menu {
  top: 18px;

  &.user-menu {
    top: 10px;

    > *:first-child:after {
      @include horizontalSeparator;
      position: absolute;
      bottom: 0;
      right: 5px;
      left: 5px;
      width: calc(100% - 10px);
    }
  }
}
