.course-question-list {
  flex-grow: 1;
  margin: 0;

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .question {
    display: flex;
    align-items: center;
    height: 35px;
    color: var(--neutral800);
    padding: 0 20px;
    cursor: grab;

    .icon {
      color: var(--secondary500);
      margin-right: 11px;
    }

    .question-title {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.active-item {
  background-color: var(--hover-color);
}

.draggable-question-item {
  display: flex;
  border-bottom: var(--wm-border);
  background-color: var(--white);

  .question-item {
    border: none;
    padding: 0;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .question-item-drag-handle {
    visibility: hidden;
  }

  &:hover {
    background-color: var(--hover-color);

    .question-item-drag-handle {
      visibility: visible;
    }
  }
}

.question-item {
  display: flex;
  flex: 1;
  align-items: center;
  height: 35px;
  color: var(--neutral800);
  padding: 0 22px;
  border-bottom: var(--wm-border);

  .icon {
    // just a placeholder for now
    color: var(--secondary500);
    margin-right: 11px;
  }

  .title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.drop-preview {
  border: 1px dashed var(--primary);
  border-radius: 4px;
  margin: 8px;
  min-height: 16px;
  background-color: var(--hover-color);
}

.card-ghost {
  border: 1px solid var(--wm-border);
  background-color: var(--red);
  box-shadow: var(--drag-shadow);
  cursor: grabbing;
}

.item-with-settings {
  cursor: pointer;
}
