.quiz-edit {
  .info-text {
    color: var(--neutral500);
    font-size: 12px;
  }

  .question-type {
    margin-bottom: 25px;

    label {
      margin-right: 5px;
    }

    .dropdown-menu-button {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .answers-creator {
    display: flex;
    flex-direction: column;

    .multiple-select-field,
    .single-select-field {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
      margin-right: 0;

      :global(span.ant-radio),
      :global(span.ant-checkbox) {
        position: relative;
        top: 18px;

        &:global(+ span) {
          width: 100%;
        }
      }

      :global(.ant-checkbox-checked::after) {
        border: 1px solid var(--green);
      }

      :global(.ant-checkbox-checked:not(.ant-checkbox-indeterminate):not(.ant-checkbox-disabled)) {
        :global(.ant-checkbox-inner) {
          background-color: var(--green);
          border-color: var(--green);
        }
      }

      /* Radio styles **/
      :global(.ant-radio-checked) :global(.ant-radio-inner) {
        background-color: var(--green);
      }

      :global(.ant-radio-inner) {
        width: 20px;
        height: 20px;
      }

      :global(.ant-radio):hover,
      :global(.ant-radio-wrapper):hover :global(.ant-radio),
      :global(.ant-radio-input):focus + :global(.ant-radio-inner),
      :global(.ant-radio):hover :global(.ant-radio-inner),
      :global(.ant-radio-checked) :global(.ant-radio-inner),
      :global(.ant-radio-checked) :global(.ant-radio-inner):hover {
        border-color: var(--green);
      }

      :global(.ant-radio-checked) :global(.ant-radio-inner)::after {
        background-color: var(--green);
        display: table;
        width: 5.71428571px;
        height: 9.14285714px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1.3) translate(-50%, -50%);
        top: 50%;
        right: auto;
        left: 5px;
      }

      :global(.ant-radio-input):focus + :global(.ant-radio-inner) {
        box-shadow: 0 0 0 3px var(--primaryVeryTransparent);
      }
    }
  }
}
