.quiz-edit {
  .info-text {
    color: var(--neutral500);
    font-size: 12px;
  }

  .question-type {
    label {
      margin-right: 5px;
    }

    .dropdown-menu-button {
      font-weight: 500;
      font-size: 14px;
    }
  }
}
