@import 'src/styles/mixins';

.archive-dialog-title {
  display: flex;
  align-items: baseline;
}

ul.archive-dialog-ul {
  margin: 0;

  li {
    color: var(--neutral500);
    font-size: 12px;
    letter-spacing: 0.24px;
    line-height: 20px;

    svg {
      margin-right: 5px;
    }
  }
}

.confirmation-button {
  max-width: 240px;

  > span:last-child {
    @include ellipsis();
  }
}
