.wm-btn {
  line-height: 1;
  color: var(--neutral900);
  transition: color 0.3s;
  width: max-content;
  height: max-content;
  display: inline-flex;
  align-items: center;
  padding: 0;
  border: none;

  &.ant-btn-link {
    font-family: var(--font-primary);
    font-weight: 500;

    &.ant-dropdown-open {
      color: var(--primary);
    }
  }

  &.ant-btn-icon-only {
    > * {
      font-size: inherit;
      height: inherit;
    }

    &.ant-dropdown-open {
      .icon.header-avatar {
        box-shadow: 0 0 5px 2px var(--avatarShadowColor);
      }
    }
  }
}
