.wm-dropdown-menu {
  li {
    position: relative;

    &.selected-item {
      color: var(--primary);
    }
  }

  // TODO: @dr15 - I tried using the css modules but it didn't work :(
  &.header-toolbar-menu {
    top: 18px;

    &.user-menu {
      top: 10px;

      > *:first-child:after {
        @include horizontalSeparator;
        position: absolute;
        bottom: 0;
        right: 5px;
        left: 5px;
        width: calc(100% - 10px);
      }
    }
  }
}
