@import '../../../styles/globals.scss';

.header-toolbar {
  --itemsSpacing: 25px;
  --avatarShadowColor: rgba(121, 191, 253, 0.75);

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  top: 0;
  right: 0;
  left: var(--sidebarWidth);
  min-height: var(--headerToolbarHeight);
  background-color: #f9fbfc;

  .header-toolbar-separator {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .header-toolbar-left {
    display: flex;
    align-items: center;
    margin-left: auto;

    .setting-separator {
      margin: 0 var(--itemsSpacing);
      height: 2em;
    }

    .icon.header-avatar {
      border-radius: 5px;
      box-shadow: 0 0 0 0 var(--avatarShadowColor);
      transition: box-shadow 0.3s;
    }

    > *:not(.help) {
      margin-left: var(--itemsSpacing);

      &:first-child {
        margin-left: 0;
      }
    }

    // override antd button
    .ant-btn {
      line-height: 1;
      color: var(--neutral900);
      transition: color 0.3s;

      &.ant-btn-link {
        padding: 0;
        font-family: var(--font-primary);
        font-weight: 500;

        &.ant-dropdown-open {
          color: var(--primary);
        }
      }

      &.ant-btn-icon-only {
        width: auto;
        height: auto;
        padding: 0;

        > * {
          font-size: 0;
        }

        &.ant-dropdown-open {
          .icon.header-avatar {
            box-shadow: 0px 0px 5px 2px var(--avatarShadowColor);
          }
        }
      }
    }
  }
}

ul.ant-dropdown-menu.teachme-header-toolbar-menu {
  top: 10px;

  li {
    position: relative;

    &.selected-item {
      color: var(--primary);
    }
  }

  &.user-menu {
    li:first-child:after {
      @include horizontalSeparator;
      position: absolute;
      bottom: 0;
      right: 5px;
      left: 5px;
      width: calc(100% - 10px);
    }
  }
}
