@import '../../../styles/globals.scss';

.header-toolbar {
  --itemsSpacing: 25px;

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  top: 0;
  right: 0;
  left: var(--sidebarWidth);
  min-height: var(--headerToolbarHeight);
  background-color: #f9fbfc;

  // &:after {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   @include horizontalSeparator();
  // }

  .header-toolbar-separator {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .settings {
    display: flex;
    align-items: center;
    margin-left: auto;

    .setting-separator {
      margin: 0 var(--itemsSpacing);
      height: 2em;
    }

    .user {
      margin-left: var(--itemsSpacing);

      // TODO: wrong svg icon - ask for a new icon, without space around
      .icon {
        height: 30px;
        width: 31px;
        overflow: hidden;
      }
    }

    .dropdown {
      margin-left: var(--itemsSpacing);

      &:last-child {
        margin-left: 0;
      }
    }
  }
}
