.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;

  > ul {
    width: 100%;

    li {
      margin-bottom: 24px;
      transition: all 300ms ease;

      &:hover {
        filter: brightness(1.3);
      }
    }
  }

  .nav-item {
    position: relative;
    color: var(--neutral700);

    // active line default styles
    &::before {
      content: '';
      width: 0;
      height: 66px;
      background-color: transparent;
      position: absolute;
      top: 4px;
      bottom: 0;
      left: 0;
      border-radius: 0 5px 5px 0;
      transition: background-color 0.3s, width 0.3s;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
      color: inherit;
      transition: color 0.3s;
      font-family: var(--font-secondary);
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.2px;
      line-height: 18px;
    }

    .icon {
      margin-bottom: 5px;

      svg * {
        fill: currentColor;
      }
    }

    &.active {
      color: var(--secondary);

      svg {
        * {
          fill: currentColor;
        }
      }

      // active line
      &::before {
        width: 4px;
        background-color: var(--secondary);
      }
    }
  }
}
