.editable-title {
  position: relative;
  margin: 20px 0;
  flex-grow: 1;
  display: flex;
  align-items: center;

  .input,
  .text {
    position: absolute;
    left: 40px;
    color: var(--neutral900);
    font-family: var(--font-secondary);
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 22px;
    font-weight: 600;
    line-height: 39px;
    padding: 0;
    margin: unset;

    &.lesson {
      left: 0;
      flex-grow: 1;
      width: 100%;
      font-size: 10px;
      line-height: 1em;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  .text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .pencil-icon {
      margin-left: 15px;
    }
  }

  .input {
    width: 400px;
    border-bottom: 1px solid transparent;
    border-radius: 0;

    &:focus {
      border-color: var(--neutral900);
    }

    &::selection {
      color: var(--neutral900);
      background: var(--selected);
    }

    &.lesson {
      height: 26px;
      border: var(--wm-border);
    }
  }
}
