.screen-header {
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 0;

  .screen-header-title {
    width: 100%;
    font-family: var(--font-secondary);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 22px;
  }

  &-time-filter {
    margin-left: auto;
    margin-bottom: 10px;
  }

  &-breadcrumbs {
    margin-bottom: 25px;
    order: -1;
  }
}
