@import 'src/styles/mixins';

.screen-header {
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 0;

  &.course {
    .screen-header-title {
      margin-bottom: 20px;
    }
  }

  .screen-header-title {
    width: 100%;
    font-family: var(--font-secondary);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 22px;
  }

  .screen-header-time-filter,
  .screen-header-time-filter:global(.ant-skeleton) {
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    flex: 1 1 auto;

    + .sub-title {
      margin-top: -30px;
    }
  }

  .screen-header-breadcrumbs {
    margin-bottom: 25px;
    order: -1;
  }

  .sub-title {
    font-size: 14px;
    color: var(--neutral500);
    flex: 0 0 100%;
    font-family: var(--font-primary);
    font-weight: 400;

    @include ellipsis;

    width: 500px;
  }
}
