.wm-input {
  &:global(.ant-input) {
    height: 32px;
    border: 1px solid var(--border-light);
    border-radius: 2px;
    background-color: var(--white);
    font-family: var(--font-primary);
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;

    &:hover,
    &:focus {
      border-color: var(--border-light);
      box-shadow: none;
    }
  }

  &.error {
    &:global(.ant-input) {
      border: 1px solid var(--red);
    }
  }
}

.error-message {
  color: var(--red);
  font-size: 12px;
}
