:root {
  --toolbarHeight: 52px;
}

.wm-table,
.wm-table-expanded {
  &.sticky-headings {
    .toolbar,
    :global(.ant-table-thead .ant-table-cell) {
      position: sticky;
      top: 0;
      background-color: var(--white);
      z-index: 10;
    }

    :global(.ant-table-thead .ant-table-cell) {
      top: var(--toolbarHeight);
    }

    :global(.ant-spin-container.ant-spin-blur) {
      :global(.ant-table-thead .ant-table-cell) {
        top: 0;
      }
    }
  }

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: var(--toolbarHeight);
  }

  th:global(.ant-table-cell) {
    background-color: transparent;
    color: var(--table-header-color);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
  }

  :global(.ant-table-cell) {
    border-bottom-color: var(--table-border-color);
  }

  tr:global(.wm-expanded-default-hide-handler) {
    :global(.ant-table-row-expand-icon) {
      display: none;
    }
  }

  tr:global(.wm-expandable-item) {
    font-family: var(--font-secondary);
    font-weight: 500;
    color: var(--neutral900);
    font-size: 15px;

    &:global(.only-first-cell) {
      td:not(:first-child) {
        > * {
          display: none;
        }
      }
    }
  }

  tr:global(.ant-table-row):hover,
  :global(.ant-table-tbody) > tr:global(.ant-table-row:hover) > td {
    background-color: var(--table-row-hover-color);
  }

  &.is-sorting {
    tr:global(.ant-table-row):hover,
    :global(.ant-table-tbody) > tr:global(.ant-table-row:hover) > td {
      background-color: var(--white);
    }
  }
}

.dragged-row {
  td {
    position: relative;
    padding: 16px;
    vertical-align: middle;
    overflow-wrap: break-word;
    background-color: var(--table-row-hover-color);
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);

    &:first-of-type {
      padding: 16px 8px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
