.legend {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  &-header {
    font-size: 12px;
    color: var(--neutral900);

    .legend-dot-status {
      margin-left: -20px;
      margin-right: 12px;
    }
  }

  .empty-number {
    color: var(--neutral900);
    font-family: var(--neutral900);
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 50px;
  }
}

:global(.ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph) {
  width: 70%;
}
