.wm-switch {
  margin: 5px 0;

  :global(.ant-switch-checked) {
    background-color: var(--green);
    margin-right: 7px;
  }

  :global(.ant-switch) {
    margin-right: 7px;
  }

  .switch-label {
    display: inline-block;
    min-width: 260px;
    font-family: var(--font-primary), sans-serif;
    font-size: 14px;
    color: var(--neutral900);
    line-height: 16px;
  }

  .switch-info {
    height: 40px;
    width: 391px;
    opacity: 0.7;
    color: var(--neutral900);
    font-family: var(--font-primary), sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 11px 0;
  }
}
