.lesson-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--neutral500);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  flex: 1;

  :global(.wm-icon) {
    width: 18px;
    margin-right: 8px;
  }
}

.editable-lesson-title {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;

  .input-wrapper {
    display: flex;
    width: 100%;
  }

  .input-wrapper,
  .text {
    position: absolute;
    color: var(--neutral500);
    font-family: var(--font-secondary);
    border: none;
    background-color: transparent;
    padding: 0;
    margin: unset;
    font-size: 10px;
    left: 0;
    flex-grow: 1;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 11px;
    display: flex;

    .lesson-title-text {
      flex: 1;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  .text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .title-button {
      display: none;
    }
  }

  .input {
    border-radius: 0;
    margin: 0;
    align-self: center;
    flex-grow: 1;

    box-sizing: border-box;
    height: 26px;
    width: 583px;
    border: var(--wm-border);
    background-color: var(--white);

    &::selection {
      color: var(--neutral900);
      background: var(--selected);
    }

    &.lesson {
      height: 26px;
      border: var(--wm-border);
    }
  }

  .title-button {
    &:global(.ant-btn) {
      background-color: transparent;
    }

    &:global(.ant-btn) > span {
      height: auto;
    }

    svg {
      width: 26px;
      height: 16px;
      padding: 2px;
    }
  }

  &:hover {
    .title-button {
      display: block;
    }
  }
}
